.service-stats-card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1rem;
}

.service-stats-card h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 10px !important;
}

.service-stats-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#de685e, #ee786e);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.service-stats-card.green .additional {
  background: linear-gradient(#92bca6, #a2ccb6);
}

.service-stats-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-stats-card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.service-stats-card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.service-stats-card .additional .user-card .level,
.service-stats-card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.service-stats-card .additional .user-card .points {
  top: 85%;
}

.service-stats-card .additional .user-card svg {
  top: 50%;
}

.service-stats-card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.service-stats-card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.service-stats-card.green .additional .more-info h1 {
  color: #224c36;
}

.service-stats-card .additional .coords {
  margin: 0 1.5rem;
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.service-stats-card.green .additional .coords {
  color: #325c46;
}

.service-stats-card .additional .coords span + span {
  float: right;
}

.service-stats-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.service-stats-card.green .additional .stats {
  color: #325c46;
}

.service-stats-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.service-stats-card .additional .stats i {
  display: block;
}

.service-stats-card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.service-stats-card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.service-stats-card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.service-stats-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
  text-align: left;
  font-size: 15px;
}

.service-stats-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.skin {
  fill: #eab38f;
}

.eyes {
  fill: #1f1f1f;
}

.hair {
  fill: #2f1b0d;
}

.line {
  fill: none;
  stroke: #2f1b0d;
  stroke-width: 2px;
}
