:root {
  --surface-color: #fff;
  --curve: 40;
}

.offer-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.offer-card {
  position: relative;
  display: block;
  height: 350px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
}

.offer-card_image {
  width: 100%;
  height: auto;
}

.offer-card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.offer-card:hover .offer-card_overlay {
  transform: translateY(0);
}

.offer-card_header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.offer-card_arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.offer-card_arc path {
  fill: var(--surface-color);
}

.offer-card:hover .offer-card_header {
  transform: translateY(0);
}

.offer-card_thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.offer-card_title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.offer-card_tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.8em;
  color: #d7bdca;
}

.offer-card_status {
  font-size: 0.8em;
  color: #d7bdca;
}

.offer-card_description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 85%;
}
